ItemDef(
    legacy_name: "Lizardskin Boots",
    legacy_description: "Mostly a test.",
    kind: Armor((
        kind: Foot,
        stats: FromSet("Orichalcum"),
    )),
    quality: Legendary,
    tags: [
    ],
)